.linkTag{
    color: white;
}

.linkTag:hover{
    color: red;
    text-decoration: none;
}

.heading{
    color: #FFF;
    font-size: 24px;
    font-weight: 500;
    
    margin-bottom: 20px;
}

.listCon{
    padding-left: 25px;
}

.ul{
    padding-left: 15px;
}