.container{
    background-color:#333333;
    display: flex;
    justify-content: center;
    margin-top: 10px;
}

.col{
    color: white;
    display: flex;
    justify-content: flex-start;
    flex-wrap: wrap;
    width: 80%;
    margin-top: 80px;
    
}

.div{
    margin-left: 25px;
}
.icon{
    width: 50px;
    margin-right: 10px;
}

@media(min-width: 768px){
    .col{
        width: 90%;
    }
}

@media(min-width: 1024px){
    .col{
        width: 100%;
    }
}
@media(min-width: 2560px){
    .col{
        justify-content: space-around;
    }
}



